 <header class='pageHead'>
 <h1 class='siteTitle'>マイルで参る</h1>
 <p class='catchcopy'>目指せ！！Hawaii！！日々の買い物と隙間時間を利用して格安旅行を実現しよう！</p>
 <nav class='globalNavi'>
 <ul>
 <li ><a href="#">ホーム</a></li>
 <li><a href="#">マイルを貯める</a></li>
 <li><a href="#">獲得マイル確認</a></li>
  <li><a href="#">ログイン</a></li>
 <li><a href="#">お問い合わせ</a></li>
 </ul>
 </nav>
 </header>