　<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8">
 <title>ページのタイトル</title>
 <%# <link rel="stylesheet" href="./normalize.css"> %>
 <link rel="stylesheet" href="./style.css">
  </head>
 <body>
 
 <div id="page">
 
  <div id="pageBody">
 
 <div id="pageBodyMain">
 <article class="articleDetaill">
 <h1 class="pageTitle">おといあわせ</h1>
 
 <p >このサイトについてのご意見・ご質問は、おといあわせフォームより受け付けています。</p>
 <p class="btn"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd3IOJwwup6CkHafsN_v6JHvUL_TE6u0bhHAdtgSJrSCkkUGQ/viewform?usp=sf_link">おといあわせフォーム</a></p>
 

<p class="pagetop"><a href="#page">ページの先頭へ戻る</a></p>

<footer id="pageFoot">
</footer>
</div>

 </body>
 </html>